*{
    margin          : 0;
    padding         : 0;
}
h1, h2, h3, h4, h5, h6{
    margin          : 0;
}
::-webkit-scrollbar{ width: 17px;}

::-webkit-scrollbar-track-piece {background: #41454B;}
::-webkit-scrollbar-button {
    height: 17px;
    background: #36393E;
    -webkit-box-shadow: 0 0 6px #18191C;}
::-webkit-scrollbar-button:active{background: #2A2C31;}
::-webkit-scrollbar-thumb {
    background: #50555C; 
    -webkit-box-shadow: 0 0 3px #18191C;}
::-webkit-scrollbar-thumb:hover {background: #5B6269; }
::-webkit-scrollbar-thumb:active {background: #676D76; }

header{
    background-color: #221922;
    height: 90px;
    width: 100%;
}
span{
    border-radius: 2px;
    background: #34363C;
    color: #8897A1;
}
.label_frame{
    width: 250px;
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    margin: auto;
}
.label{
    height: 60px;
    top: 70;
    position: relative;
    background-color: #7289DA;
    color: #FFFFFF;
    font-size: 24px;
    font-family: Arial, sans-serif;
    line-height: 60px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 2px #667BC4;
}

.first_sect{
    background-color: #EAF4FF;
    height: 500px;
    width: 100%;
}
.first_sect_content{
    width: 100%;
}

.second_sect_label{
    width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    top: 5%;
}
.second_sect{
    background-color: #2C2F33;
    height: 1400px;
    width: 100%;
}
.grid_layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 500px);
    grid-auto-rows: 50px;
    grid-auto-columns: 50px;
    position: relative;
    margin: auto;
    top: 7%;
    width: 85%;
    height: 50px;
}
.grid_box{
    transition: all 0.22s ease;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #040405;
    background: #18191C;
    height: 365px;
    width: 325px;
    box-shadow: 0 0 3px #040405;
}
.grid_box:hover{
    transform: scale(1.08);
    box-shadow: 0 0 0 #040405;
}
.title_text{
    font-size: 17px;
    line-height: 55px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}
.box_image{
    top: 5px;
    position: relative;
    left: 12px;
    margin: auto;
    width: 300px;
    margin-bottom: 10px;
}
.small_text{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #99AAB5;
    line-height: 25px;
    padding: 5px;
}
a{
    color: #209BDD;
    line-height: 50px;
    font-size: 17px;
    font-family: Arial, sans-serif;
    text-align: center;
}
